@import "tailwindcss";
@import "../../shared/styles/index.css";

html {
  font-size: 4.266665vw;
}

body {
  background: #030306;
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: 0;
  font-family: var(--font-urbanist-sans), sans-serif;
}

@layer components {
  .h1 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .p {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .caption {
    font-size: 0.75rem;
    font-weight: 600;
  }

  .specific {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .big {
    font-size: 3.125rem;
    font-weight: 700;
  }

  .card {
    font-size: 2rem;
    font-weight: 600;
  }
}
