@import "tailwindcss";
@import "../../shared/styles/index.css";

html {
  font-size: 4.266665vw;
}

body {
  background: #030306;
  color: #FFFFFF;
}

@layer components {
  .h1 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .p {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .caption {
    font-size: 0.75rem;
    font-weight: 600;
  }

  .keyboard {
    font-size: 1.375rem;
    font-weight: 400;
  }
}
